<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    <meta charset="utf-8" />
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="https://jjakimoto.github.io/theme/css/style.css" />
    {% endblock head %}
</head>

<body id="index" class="home">
    <!--
        <header id="banner" class="body">
        <h1><a href="{{ SITEURL }}/">{{ SITENAME }} </a></h1>
        <h2>{{ SITESUBTITLE }}</h2>
     -->
 
 <!-- Headbar -->
<ul class="topnav">
  <li><a href="{{ SITEURL }}/">{{ SITENAME }}</a></li>
  <li><a href="{{ SITEURL }}/pages/about">About</a></li>
  <li><a href="{{ SITEURL }}/pages/books">Books I Have Read</a></li>
</ul>
              
<!-- Sidebar -->
<nav class="sidebar">
    <ul class="large">
        <li>
            <h1>Me</h1>
            <img alt="me" src="http://jjakimoto.github.io/images/about/me.jpg" />
            <p>I am a data scientist with a passion for Python and C++ in particular. <a href="https://jjakimoto.github.io/pages/about">More.....</a></p>
       </li>
        <li>
            <h1>Social</h1>
            <ul class="small">
                {% for name, link in SOCIAL %}
                <li><a href="{{ link }}"><p>{{ name }}</p></a></li>
                {% endfor %}
           </ul>
       </li>
        <li>
            <h1>Categories</h1>
            <ul class="small">
                {% for cat, art in categories %}
                <li><a href="{{SITEURL}}/category/{{cat | replace(" ", "-") | lower }}.html"><p>{{cat}}({{art | count}})</p> </a></li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</nav>
<!-- contents -->
 <article class="mycontent">
 {% block content %}
 {% endblock %}
 </article>
    
    
        <footer id="contentinfo" class="body">
                <address id="about" class="vcard body">
                Proudly powered by <a href="http://getpelican.com/">Pelican</a>,
                which takes great advantage of <a href="http://python.org">Python</a>.
                </address><!-- /#about -->
        </footer><!-- /#contentinfo -->
</body>
</html>
